@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    padding: 0 40px;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    color: #fff;
}

header .welcome {
    flex: 2;
}

header .welcome h1 {
    font-size: 35px;
    padding-top: 10px;
}

.active {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header ul {
    flex: 3;
    text-align: center;
}

header fa {
    flex: 1;
    color: #fff;
}

header i * {
    float: right;
}

header i {
    padding-top: 40px;
}

.fa-sign-out {
    color: #fff;
}

header ul li {
    display: inline-block;
    font-size: 18px;
    margin-right: 30px;
    padding-top: 40px;
    align-items: center;
}

header ul li a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#main-menu {
    margin-top: 150px;
}

#main-menu .menu {
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.menu div img {
    width: 100px;
    display: block;
    margin: auto;
}

.menu div p {
    text-align: center;
    padding: 10px;
    color: #000;
}

.menu div {
    margin: 20px;
    width: 130px;
}

.menu div a {
    text-decoration: none;
}


/* DATA SISWA */

section {
    margin-top: 40px !important;
}

.top-data h1 {
    color: #272727;
    float: left;
}

.top-data button {
    float: right;
    color: #fff;
    text-decoration: none;
}


/* .top-data .pilihkelas {
    color: #fff;
    text-decoration: none;
    width: 50%;
} */

a {
    color: #fff !important;
    text-decoration: none !important;
}

.top-data {
    position: relative;
    margin-top: 30px;
}

.top-data h1,
body section h1 {
    font-size: 25px;
    display: block;
}

tr td {
    line-height: 35px;
}


/* tr .button-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.container-form {
    width: 60% !important;
    margin: auto !important;
}